@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Noto+Sans|Noto+Serif');

body {
    font-family: 'Noto Serif', Georgia, 'Times new Roman', serif;
    font-size: 1em;

    background-color: lightgoldenrodyellow

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', Verdana, 'Arial', sans-serif;
    color: black;
    
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

h1 {
    font-size: 4em;
    text-align: center;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2em;
}
h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1em;
}

#title {
    font-family: 'Bungee Inline', 'Comic Sans MS', Verdana, Arial, sans-serif;
}
#grid {
    width: 1024px;
    height: 768px;
    color: lightgray;
    margin: auto;
}

.hexfield {
    fill: transparent;
    padding: 1px;
    stroke: #ffb3b3;
    stroke-width: 2;
}

.hexfield:hover {
    fill: red;
}

.gridGame .hexclick{
    
}